<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Car</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<h1>Create a New Car</h1>
<form action="/create-car" method="post">

    <!-- Enum choice -->
    <div class="form-row">
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="">--Please choose an option--</option>
            <option value="available">Available</option>
            <option value="reserved">Reserved</option>
            <option value="sold">Sold</option>
        </select>
    </div>

    <div class="form-row">
        <label for="brand">Brand:</label>
        <input type="text" name="brand" id="brand"/>
    </div>

    <div class="form-row">
        <label for="model">Model:</label>
        <input type="text" name="model" id="model"/>
    </div>

    <div class="form-row">
        <label for="year">Year:</label>
        <input type="number" name="year" id="year" min="1900" max="2100"/>
    </div>

    <!-- Enum choice -->
    <div class="form-row">
        <label for="color">Color:</label>
        <select name="color" id="color">
            <option value="">--Please choose an option--</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="black">Black</option>
            <option value="silver">Silver</option>
            <option value="white">White</option>
        </select>
    </div>

    <div class="form-row">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" min="0" max="500000000"/>
    </div>

    <div class="form-row">
        <label for="dealershipId">Dealership ID:</label>
        <input type="number" name="dealershipId" id="dealershipId" min="0" max="999"/>
    </div>

    <button type="submit" class="form-submit-button">Create</button>
</form>
<a href="/">Back to Main</a>
</body>

</html>