<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Create Dealership</title>
</head>

<body>
    <h1>Create a New Dealership</h1>
    <form action="/create-dealership" method="post">
        <div>
            <label>Name: <input type="text" name="name" required/></label>
        </div>
        <div>
            <label>Phone: <input type="text" name="phone"/></label>
        </div>
        <div>
            <label>Location: <input type="text" name="location"/></label>
        </div>
        <button type="submit">Create</button>
    </form>
    <a href="/">Back to Main</a>
</body>

</html>