<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Car</title>
</head>

<body>
<h1>Create a New Car</h1>
<form action="/create-car" method="post">
    <div>
        <!-- Enum choice -->
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="">--Please choose an option--</option>
            <option value="available">Available</option>
            <option value="reserved">Reserved</option>
            <option value="sold">Sold</option>
        </select>
    </div>
    <div>
        <label>Brand: <input type="text" name="brand"/></label>
    </div>
    <div>
        <label>Model: <input type="text" name="model"/></label>
    </div>

    <div>
        <!-- Number input -->
        <label>Year: <input type="number" name="year" min="1900" max="2100"/></label>
    </div>

    <div>
        <!-- Enum choice -->
        <label for="color">Color:</label>
        <select name="color" id="color">
            <option value="">--Please choose an option--</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="black">Black</option>
            <option value="silver">Silver</option>
            <option value="white">White</option>
        </select>
    </div>

    <div>
        <!-- Number input -->
        <label>Price: <input type="number" name="price" min="0" max="500 000 000"/></label>
    </div>

    <div>
        <!-- Number input -->
        <!-- NOTE: Dealership ID choice -->
        <label>Dealership ID: <input type="number" name="dealershipId" min="0" max="999"/></label>
    </div>

    <button type="submit">Create</button>
</form>
<a href="/">Back to Main</a>
</body>

</html>